{% extends "public/basic/base.html" %}

{%block title%} visitor Data

{%endblock%}

{% block content %}

      <table border = 1>
         <thead>
            <td>user_id</td>
            <td>item_id</td>
            <td>visit_count</td>
            
         </thead>

         {% for row in rows %}
            <tr>
               <td>{{row["user_id"]}}</td>
               <td>{{row["item_id"]}}</td>
               <td> {{ row["visit_count"]}}</td>
               
            </tr>
         {% endfor %}
      </table>

      <a href = "/">Go back to home page</a>

{% endblock %}